<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	body {
		background-color: 550F91;
		color: white;
		font-family: 'Gaegu', cursive;
	}
	</style>
	<h1>Behold...the Pokemon</h1>

	<title>POKEMON APP</title>

	
</head>
<body>

</body>
</html>